--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: winners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.winners (
    year integer NOT NULL,
    first_horse text NOT NULL,
    first_jockey text NOT NULL,
    first_trainer text NOT NULL,
    second_horse text NOT NULL,
    second_jockey text NOT NULL,
    second_trainer text NOT NULL,
    third_horse text NOT NULL,
    third_jockey text NOT NULL,
    third_trainer text NOT NULL,
    id integer NOT NULL,
    race text
);


ALTER TABLE public.winners OWNER TO postgres;

--
-- Name: winners_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.winners_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.winners_id_seq OWNER TO postgres;

--
-- Name: winners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.winners_id_seq OWNED BY public.winners.id;


--
-- Name: winners id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.winners ALTER COLUMN id SET DEFAULT nextval('public.winners_id_seq'::regclass);


--
-- Data for Name: winners; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: winners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.winners_id_seq', 246, true);


--
-- Name: winners winners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.winners
    ADD CONSTRAINT winners_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

